@media print {
  body {
    background-color: #fff;
    color: #000;
  }

  .App-header, .left-panel, .App-header button {
    display: none;
  }

  .App-main {
    display: block;
  }

  .resume-preview {
    width: 100%;
    border: none;
    box-shadow: none;
    padding: 0;
  }
}
